// .page {
//     min-height: 85vh;
//     padding-bottom: 2rem;
//   }
//   .page-header {
//     margin-bottom: 1.2rem;
//   }
//   .page-section {
//     margin-bottom: 2rem;
//   }
//   .row {
//     display: flex;
//     flex-wrap: nowrap;
//   }
//   .col {
//     display: flex;
//     flex-wrap: nowrap;
//     flex-direction: column;
//   }

/* .thumbs.animated {
  display: flex;
  justify-content: center;
}
.carousel-root {
  width: 60vw;
} */

@import "../../global.scss";

.park-page {
  width: 100%;
  min-height: calc(100vh - 65px);

  @include seventwenty {
    height: 140vh;
  }

  .content {
    position: relative;
    top: 65px;
    left: 0;
    height: 80vh;
    width: 90vw;
    margin: 65px auto 0;

    @include fiveHundred {
      margin-top: 40px;
    }

    .page-header {
      margin-bottom: 1.2rem;
      font-weight: 500;
      font-size: 28px;

      @include fiveHundred {
        font-size: 20px;
        margin-left: 15px;
      }
    }
    .page-section {
      display: flex;
      margin-bottom: 2rem;

      @include seventwenty {
        flex-direction: column;
      }

      .left {
        display: flex;
        flex-direction: column;
        flex: 8;
      }
      .right {
        display: flex;
        flex-direction: column;
        flex: 4;

        @include seventwenty {
          margin-top: 100px;
          margin-left: 20px;
        }
      }
    }
  }
}
