@import "../../global.scss";

.park-page {
  width: 100%;
  min-height: calc(100vh - 65px);

  @include seventwenty {
    height: 140vh;
  }

  .content {
    position: relative;
    top: 65px;
    left: 0;
    height: 80vh;
    width: 90vw;
    margin: 65px auto 0;

    @include fiveHundred {
      margin-top: 40px;
    }

    .page-header {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 28px;

      @include fiveHundred {
        font-size: 20px;
        margin-left: 8px;
      }
    }
    .page-section {
      display: flex;
      margin-bottom: 15px;

      @include seventwenty {
        flex-direction: column;
      }

      .left {
        display: flex;
        flex-direction: column;
        flex: 8;
      }
      .right {
        display: flex;
        flex-direction: column;
        flex: 4;

        @include seventwenty {
          margin-top: 220px;
          margin-left: 20px;
        }
        @include fourHundred {
          margin-top: 280px;
        }
      }
    }
  }
}
