@import "../../global.scss";

.park-info {
  .info-container {
    display: flex;

    @include ninefifty {
      flex-direction: column;
      width: 300px;
    }

    .map-container {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      position: relative;
    }
    .additional-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 15px;

      @include ninefifty {
        position: absolute;
        top: 430px;
        left: 30px;
      }

      @include seventwenty {
        position: static;
        align-items: flex-start;
        margin-left: 20px;
      }

      .col {
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          margin-top: 8px;
          margin-bottom: 16px;
        }
      }
      #checkin-button {
        background: $redColor;

        @include ninefifty {
          margin-top: 20px;
        }
      }
    }
  }
}
