@import "../../global.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;

  @include fiveHundred {
    width: 100%;
    align-self: center;
    margin-right: 20px;
  }

  .h5 {
    font-size: 28px;
  }

  .button {
    width: fit-content;
    background: $redColor;
  }
}
